# Ignore everything, "unblacklist" directories and whitelist gitignore
*

### Git ###
!.gitignore
!.gitattributes

### Editor Config ###
!.editorconfig

### Travis CI ###
!.travis.yml

### Gradle ###
!build.gradle
!settings.gradle

### Readme ###
!README.md

### Source Code ###
!/src
!/src/**/*
